/* ----------------------------------------
Intro Section on index.html
------------------------------------------- */
#intro {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 80px auto 0;
  padding: 40px 24px 0 24px;
}

/* ----------------------------------------
3-column home page sections
------------------------------------------- */
.headingBorder {
  border-bottom: solid 2px $border;
  padding: 8px 0;
  margin: 0;
}

/* ----------------------------------------
page bar
------------------------------------------- */
.pageBar {
  padding: 16px;
  width: 100%;
}
.pageBarContent {
  margin: 0 40px 0 88px;
  display: flex;
  justify-content: space-between;
  h2 {
    color: #2E578C;
    display: inline-block;
    -webkit-margin-before: 0;
  }
}
.flexBarMarginRight {
  margin-right: 80px;
}
/* ----------------------------------------
page sections
------------------------------------------- */
.contentSection {
  padding: 0 24px;
  width: 100%;
}
.midpage {
  margin-top: 80px;
  padding: 0 24px;
}
