
$base-text: #000000;
$body-text: rgba($base-text,.87);
$gray-dark: rgba($base-text,.54);
$gray-light: rgba($base-text,.38);
$border: rgba($base-text,.38);
$link: #2196F3;
$primary: #2196F3;
$secondary: #FF5722;
$background-primary: #fafafa;


@import "baseStyles";
@import "opacities";
@import 'typography';
@import 'button';
@import "flexStyles";
@import 'sidebar';
@import "header";
@import "dropdown";
@import "reports";
@import "sectionElements";
@import 'footer';








/* ----------------------------------------
Decorations
------------------------------------------- */
hr {
  border: none;
  border-bottom: solid 2px rgba(0,0,0,.38);
	padding: 0;
	margin: 8px 0;
}


/* ----------------------------------------
Images
------------------------------------------- */
img {
	max-width: 100%;
}
div.iconButton img {
	width: 100%;
}




div.col-2-3 h1 {
	margin: 0;
}
div.col-2-3 p {
	margin: 16px 0 0;
}
